body, html{margin:0;padding:0; min-height: 100%;}
.box{display: inline-block; vertical-align: top;margin:0; padding:0; box-sizing:border-box;}
.box30{width:30%;}

.blueBg{background-color:#6180AD;color: #fff; text-shadow:1px 1px #4d4d4d;}
.brightBlueBg{background-color: #7291BE; color:#fff; text-shadow:1px 1px #4d4d4d;}
.blueFont{color:#6180AD;}