ul.playlist, ul.tracksList{display:block; clear: both; width:100%; margin:0; padding:0; list-style: none; overflow: hidden;}
ul.playlist > li, ul.tracksList > li{margin:0; padding:0; display: block; width:100%;box-sizing:border-box; padding:10px 15px;}
ul.playlist > li:hover, ul.playlist > li.active, ul.tracksList > li:hover, ul.tracksList > li.active{background:#fff; color:#4d4d4d; text-shadow:1px 1px #000; cursor: pointer;}
#burgerIcon{position:fixed; top:0; left:0; width:61px; height: 61px; background: url('images/burger.png') no-repeat; z-index: 9999; transition-duration:1s; -moz-transition-duration:1s; -webkit-transition-duration:1s; -o-transition-duration:1s; cursor: pointer; opacity: 1;}
#burgerIcon.open{opacity:0;}
#playlist{position: fixed; width:250px; height: 100%; min-height: 100%; max-height: 100%;}
#tracks{position: fixed; width:350px; height: 100%; min-height: 100%; max-height: 100%; left:250px;}
#videoWrapper{display: block; width:100%; height: 100%; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; position: fixed; background:#cfcfcf; transition-duration:0.25s; -moz-transition-duration:0.25s; -webkit-transition-duration:0.25s; -o-transition-duration:0.25s;overflow: hidden;}
#videoWrapper.open{transform:translate3d(40%, 0px, 0px) scale3d(0.85, 0.85, 1);}
#pplayer{width:100%; display: block; position: absolute; bottom:0; height: 61px; z-index: 999;}
#playButton, #nextButton, #prevButton, .pauseButton, .playButton{display: inline-block;width:61px; height: 61px; cursor: pointer;}
.playButton{background:url('/images/pauseButton.png') no-repeat;}
.pauseButton{background:url('/images/playButton.png') no-repeat;}
#nextButton{background:url('/images/nextButton.png') no-repeat;}
#prevButton{background:url('/images/prevButton.png') no-repeat;}
#video{width:100%; height: 100%; min-height: 100%; max-height: 100%; min-width: 100%; max-width: 100%; display: block; position: relative; z-index: 1;}
