<template name="playerTemplate">
	<div id="pplayer">
		<div id="playButton" class="pauseButton"></div>
		<div id="prevButton"></div>
		<div id="nextButton"></div>
		<div id="currentTrack"></div>
	</div>
</template>