<template name="playlistTemplate">
	<div class="box box30 blueBg" id="playlist">
		<ul class="playlist">
			{{#each playlists}}
				{{> playlistItem}}
			{{/each}}
		</ul>
	</div>
</template>

<template name="playlistItem">
	<li data-id="{{ this._id }}"><span class="title">{{ this.title }}</span> <span class="tracksAmount">{{ tracksAmount }}</span> tracks.</li>
</template>